body     {
    max-width: 100%;
    font-family: verdana, arial, sans-serif;
    margin: auto;
    padding: 0;
    background-color: #EDF6F9;
    border:0px;
     }

     .overlay {
        display: none;
        position: fixed;
        inset: 0;
        background: rgba(0, 25, 28, 0.5);
        z-index: 9;
        overflow: auto; /* Enable scrolling on the overlay */
      }
      
      .modal.open,
      .overlay.open {
        display: block;
        overflow: auto; /* Enable scrolling on the modal and overlay when open */
      }
      
      .modal {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(253, 244, 241);
        padding: 5%;
        margin: 0 auto; /* Center horizontally */
        max-width: 80%; /* Set maximum width */
        max-height: 80vh; /* Limit the modal height to 80% of viewport height */
        overflow: auto; /* Enable scrolling inside the modal */
        border-radius: 5vw;
        box-shadow: 5px 5px 10px #888888;
        z-index: 10;
      }

.container {
    text-align: center;
}

.container img {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}

.bluebanner {
    width: 100vw;
    height: 10VW;
    background-color: rgb(212, 227, 232);
    justify-content: center;
    display:flex;
}

.topnav button{
    position: sticky;
    background-color: rgb(235, 132, 98);
    width:25vw;
    height: 70%;
    padding: 2%;
    margin: 2%;
    border-radius: 2vw;
    color: #FFFF;
    font-size: 3vw; 
}

h1 {
    font-size: 15vw;
    text-align: center;
    color: #006D77; 
    -webkit-text-stroke: 0.5vw black;
}

h2 {
    text-align:center;
    font-size:7vw;
    color: rgb(231, 136, 130); 
    -webkit-text-stroke: 0.3vw #006D77;
}

.bluebanner h2 {
    font-size: 8vw; 
    letter-spacing: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #006D77;
    -webkit-text-stroke: 0;
        
}


h3{
    color: rgb(231, 136, 130);
    font-size: 7vw;
}

.bluebanner #h4banner{
    display: flex;
    align-items: center;
    justify-content: center;
}

h4{
    margin-top: 2vw;
    text-align:center;
    font-size:5vw;
    color: rgb(231, 136, 130); 
    -webkit-text-stroke: 0.3vw #006D77; 
    vertical-align: middle;
}

.topnav {
    position: sticky;
    top: 0;
    display:flex;
    justify-content:center;
}

#logging p {
    padding-top: 0;
    padding-bottom: 5vw;
}

p#resultsinfo {
    text-align: center;
    padding: 2vw;
    margin: 2vw;
}

#taketraining {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.7vw;
    font-size: 4vw;
    color:coral;
}


article {
    margin: 0vw 10vw 0vw 10vw;
}

section p {
    margin: 0vw 10vw 0vw 10vw;
}

.bluebanner button {
    position: sticky;
    background-color: rgb(235, 132, 98);
    width:25vw;
    height: 70%;
    padding: 1%;
    margin: 2%;
    border-radius: 2vw;
    color: #FFFF;
    font-size: 3vw; 
}

.progressbar {
    margin: 5%;
}


.logged li {
    display: flex;
    align-items:flex-start;
  }

  ul {
    align-content: center;
  }

.logged{
    border: 1vw solid  #006D77;
    background-color: #EDF6F9;
    border-radius: 8vw;
    padding:5vw;
    margin:5vw;
}

.activityName {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  li{
  border: 0.5vw solid #006D77;
  border-radius: 5vw;
  background-color:rgb(253, 244, 241);
  margin: 1vw;
  }

  div.taskBox {
    /* Existing styles */
    padding: 2vw;
  }
  
  
  .taskBox .expanded {
    /* Existing styles */
  }
  
  .taskBox.expanded .taskDetails {
    display: block;
 
  }
  
  .taskBox .taskDetails {
    display: none;
    /* Additional styles for the task details */
  }

  