body     {
    max-width: 100%;
    font-family: verdana, arial, sans-serif;
    margin: auto;
    padding: 0;
    background-color: #EDF6F9;
    border:0px;
     }

.container {
    text-align: center;
}

.container img {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}

.bluebanner {
    width: 100vw;
    height: 10VW;
    background-color: rgb(212, 227, 232);
    justify-content: center;
    display:flex;
}

.topnav button{
    position: sticky;
    background-color: rgb(235, 132, 98);
    width:25vw;
    height: 70%;
    padding: 2%;
    margin: 2%;
    border-radius: 2vw;
    color: #FFFF;
    font-size: 3vw; 
}

h1 {
    font-size: 15vw;
    text-align: center;
    color: #006D77; 
    -webkit-text-stroke: 0.5vw black;
}

h2 {
    text-align:center;
    font-size:7vw;
    color: rgb(231, 136, 130); 
    -webkit-text-stroke: 0.3vw #006D77;
}

.bluebanner h2 {
    font-size: 8vw; 
    letter-spacing: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #006D77;
    -webkit-text-stroke: 0;
        
}


h3{
    color: rgb(231, 136, 130);
    font-size: 5vw;
}


.topnav {
    position: sticky;
    top: 0;
    display:flex;
    justify-content:center;
}



#taketraining {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.7vw;
    font-size: 4vw;
    color:coral;
}


article {
    margin: 0vw 10vw 0vw 10vw;
}

section p {
    margin: 0vw 10vw 0vw 10vw;
}

.bluebanner button {
    position: sticky;
    background-color: rgb(235, 132, 98);
    width:25vw;
    height: 70%;
    padding: 1%;
    margin: 2%;
    border-radius: 2vw;
    color: #FFFF;
    font-size: 3vw; 
}

.progressbar {
    margin: 5%;
}

form {
    padding:5%;
    background-color: rgb(253, 244, 241);
    margin: 5%;
    border-radius: 5vw;
    box-shadow: 5px 5px 10px #888888;
}

